.page {
  margin: 0;
  padding: 0;
}

.page__body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
  margin: 0;
  padding: 0;
  background: white;
  // text
  font-family: $font;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $black;
}
